<div class="container">
    <div class="row">

        <div class="col-2"></div>

        <div class="col-6">
            <h3 class="subtitle">Approve Post</h3>
            {{#unless approvalList}}
            <div class="alert alert-success">All posts Approved.</div>
            {{/unless}}
            <div id="pendingposts">
                {{#each approvalList}}
                <div class="card adminCard">
                    <div class="card-body" id="pendingpost">
                        <div id="postinfo">
                            <span>{{name}}</span>
                            <hr>
                            <span>{{description}}</span>
                            <p></p>
                            <span>{{city}},</span>
                            <span>{{state}}</span>
                        </div>
                    </div>
                    <span class="adminButtons">
                        <button type="button" class="btn btn-primary btn-sm approve" id="{{id}}">Approve</button>
                        <button type="button" class="btn btn-secondary btn-sm delete" id="{{id}}">Delete</button>
                    </span>
                </div>

                {{/each}}
            </div>
        </div>

        <div class="col-4">
            <h3 class="subtitle">Happening this Weekend</h3>
            <div id="weekend">
                <div class="event" id="">
                    <h6 class="eventTitle">Bodies Revealed</h6>
                    <img class="eventImg" src="https://res.cloudinary.com/simpleview/image/upload/crm/phoenix/IMG_3102-1-_244d131b-5056-b3a8-49ba61143e1d44b3.jpg"
                        alt="event" width="80px">
                    <div class="eventDes">The overwhelmingly popular "Bodies Revealed" exhibit explores the human body in an intimate and informative
                        way, giving visitors and unprecedented way to view "what lies beneath" the surface of the skin.</div>
                    <h6 class="eventAddress">
                        <u>Address:</u>
                    </h6>
                    <div class="eventAddress">OdySea in the Desert 9500 E. Via de Ventura Scottsdale, AZ</div>
                    <a href="http://www.bodiesaz.com/" class="weblink eventLink" target="_blank">Website</a>
                </div>

                <div class="event" id="">
                    <h6 class="eventTitle">Dear Listener</h6>
                    <div class="eventDes">This exhibit is a mid-career retrospective of contemporary Native Alaskin artist, Nicholas Galanin.</div>
                    <h6 class="eventAddress">
                        <u>Address:</u>
                    </h6>
                    <div class="eventAddress">Heard Museum 2301 N. Central Ave. Phoenix, AZ</div>
                    <a href="https://www.dearlistener.org/" class="weblink eventLink" target="_blank">Website</a>
                </div>

                <div class="event" id="">
                    <h6 class="eventTitle">Dino Explorer</h6>
                    <img class="eventImg" src="https://res.cloudinary.com/simpleview/image/upload/crm/phoenix/ldc-dino-freigegeben-600_a30a134d-5056-b3a8-493a9848d0b5e1b9.jpg"
                        alt="event" width="80px">
                    <div class="eventDes">This Jurassic-sized adventure is sure to put a smile on the face of any dino fans.</div>
                    <h6 class="eventAddress">
                        <u>Address:</u>
                    </h6>
                    <div class="eventAddress">Legoland Discovery Center 5000 S. Arizona Mills Circle Ste. 135 Tempe, AZ</div>
                    <a href="https://arizona.legolanddiscoverycenter.com/whats-inside/dino-explorer/" class="weblink eventLink" target="_blank">Website</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>