<div class="row">

    <div class="col-2">
        <h4 class="subtitle" id="filterTitle">Filter By:</h4>
        <div id="filters">

            <ul>
                {{#each categoryList}}
                <li>
                    <a href="/api/posts/{{id}}">{{categoryName}}</a>

                </li>
                {{/each}}
            </ul>

        </div>
    </div>


    <div class="col-6">
        <h3 class="subtitle">Fun Things Around Town</h3>
        {{#unless activities}}
        <div class="alert alert-warning">No posts found in this category.</div>
        {{/unless}}
        <div id="activities">
            {{#each activities}}
            <div class='posts' id='post{{id}}'>
                <h6 id="namepost{{id}}">{{name}} {{#if kidfriendly}}
                    <img src='/../images/kidfriendly.png' alt='Kid Friendly!' height='30px'> {{/if}}
                </h6>
                <img src="{{picturelink}}" alt="{{name}}" id="picpost{{id}}" class="displayPic">
                <div hidden class='info' id='infopost{{id}}'>
                    <div id='des'>
                        <h6 class='des'>
                            <u>Review:</u>
                        </h6>{{description}}</div>
                    <!-- <br><h6 class='address'><u>Map:</u></h6> -->
                    <div id='map'></div>
                    <div class='address'>{{street}},{{city}},{{state}}</div>
                    <a class="weblink" target="_blank" href="{{websitelink}}">Website</a>
                </div>
            </div>
            {{/each}}

        </div>
    </div>

    <div class="col-4">
        <h3 class="subtitle">Happening this Weekend</h3>
        <div id="weekend">
            <div class="event" id="">
                <h6 class="eventTitle">Bodies Revealed</h6>
                <img class="eventImg" src="https://res.cloudinary.com/simpleview/image/upload/crm/phoenix/IMG_3102-1-_244d131b-5056-b3a8-49ba61143e1d44b3.jpg"
                    alt="event" width="80px">
                <div class="eventDes">The overwhelmingly popular "Bodies Revealed" exhibit explores the human body in an intimate and informative
                    way, giving visitors and unprecedented way to view "what lies beneath" the surface of the skin.</div>
                <h6 class="eventAddress">
                    <u>Address:</u>
                </h6>
                <div class="eventAddress">OdySea in the Desert 9500 E. Via de Ventura Scottsdale, AZ</div>
                <a href="http://www.bodiesaz.com/" class="weblink eventLink" target="_blank">Website</a>
            </div>

            <div class="event" id="">
                <h6 class="eventTitle">Dear Listener</h6>
                <div class="eventDes">This exhibit is a mid-career retrospective of contemporary Native Alaskin artist, Nicholas Galanin.</div>
                <h6 class="eventAddress">
                    <u>Address:</u>
                </h6>
                <div class="eventAddress">Heard Museum 2301 N. Central Ave. Phoenix, AZ</div>
                <a href="https://www.dearlistener.org/" class="weblink eventLink" target="_blank">Website</a>
            </div>

            <div class="event" id="">
                <h6 class="eventTitle">Dino Explorer</h6>
                <img class="eventImg" src="https://res.cloudinary.com/simpleview/image/upload/crm/phoenix/ldc-dino-freigegeben-600_a30a134d-5056-b3a8-493a9848d0b5e1b9.jpg"
                    alt="event" width="80px">
                <div class="eventDes">This Jurassic-sized adventure is sure to put a smile on the face of any dino fans.</div>
                <h6 class="eventAddress">
                    <u>Address:</u>
                </h6>
                <div class="eventAddress">Legoland Discovery Center 5000 S. Arizona Mills Circle Ste. 135 Tempe, AZ</div>
                <a href="https://arizona.legolanddiscoverycenter.com/whats-inside/dino-explorer/" class="weblink eventLink" target="_blank">Website</a>
            </div>
        </div>
    </div>
</div>
</div>