<div class="row">

    <div class="col-2">
        <h4 class="subtitle">Filter By:</h4>
        <div id="filters">
            
            <ul>
                {{#each categoryList}}
                <li>
                    <a href="/api/posts/{{id}}">{{categoryName}}</a>

                </li>
                {{/each}}
            </ul>          
            
        </div>
    </div>


    <div class="col-6">
        <h3 class="subtitle">Fun Things Around Town</h3>
        {{#unless activities}}
            <div class="alert alert-warning">No posts found in this category.</div>
        {{/unless}}
        <div id="activities">
            {{#each activities}}
                <div class='posts' id='post{{id}}'>
                    <h6>{{name}}
                        {{#if kidfriendly}}
                            <img src='/../images/kidfriendly.png' alt='Kid Friendly!' width='30px'>
                        {{/if}}                        
                    </h6>
                    <img src="{{picturelink}}"  alt="{{name}}" id="picpost{{id}}"  class="displayPic">
                    <div hidden class='info' id='infopost{{id}}'>
                        <div id='des'><h6 class='des'><u>Review:</u></h6>{{description}}</div>
                        <!-- <br><h6 class='address'><u>Map:</u></h6> -->
                        <div id='map'></div>
                        <div class='address'>{{street}},{{city}},{{state}}</div>
                        <a class="weblink" target="_blank" href="{{websitelink}}">Website</a>
                    </div>
                </div>  
            {{/each}}
            
        </div>
    </div>

    <div class="col-4">
        <h3 class="subtitle">Happening this Weekend</h3>
        <div id="weekend">
            <div class="event" id="data[i].title">
                <h6 class="eventTitle">Title</h6>
                <img class="eventImg" src="https://images1.phoenixnewtimes.com/imager/u/745xauto/9814688/jr-blackcloud-cophxart.jpg" alt="" height="80px">
                <div class="eventDes">Description</div>
                <div class="eventAddress">Address</div>
                <a href="#" class="weblink eventLink" target="_blank">Link</a>
            </div>
        </div>
    </div>
</div>
</div>